@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  width: 100%;
  max-width: 100vw;
}

.container {
  width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style-type: none;
}

button {
  background-color: orange;
  color: white;
  width: 250px;
  height: 70px;
  z-index: 3000;
  font-family: "Arial";
  text-shadow: -2px -3px 3px gray;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  display: inline-block;
}

#header {
  width: 100%;
  display: block;
}
#header img {
  width: 15%;
  height: 15%;
  opacity: 0;
}
#header .header__inner {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-sizing: border-box;
  z-index: 3000;
}
#header .header__inner .menubtn {
  width: 100%;
  max-width: 50px;
  z-index: 1000;
  /*追記*/
}
#header .header__inner .openbtn8 {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  background: black;
  cursor: pointer;
}
#header .header__inner .openbtn8 .openbtn-area {
  width: 50px;
  height: 50px;
  transition: all 0.6s;
  /*アニメーションの設定*/
}
#header .header__inner .openbtn8 span {
  width: 45%;
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
}
#header .header__inner .openbtn8 span:nth-of-type(1) {
  top: 15px;
}
#header .header__inner .openbtn8 span:nth-of-type(2) {
  top: 23px;
}
#header .header__inner .openbtn8 span:nth-of-type(3) {
  top: 31px;
}
#header .header__inner .openbtn8.active .openbtn-area {
  transform: rotate(360deg);
}
#header .header__inner .openbtn8.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
#header .header__inner .openbtn8.active span:nth-of-type(2) {
  opacity: 0;
}
#header .header__inner .openbtn8.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
#header .w1000 {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  /*追記*/
  height: 13vh;
  /*追記*/
  z-index: 153;
  align-items: center;
  box-sizing: border-box;
  max-width: 100vw;
}
#header .w1000 h1 {
  color: white;
  text-shadow: -2px -3px 3px gray;
  font-family: "Arial";
  font-size: 2vw;
  text-align: center;
  margin: 1vh 0;
}
#header .w1000 nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 1vh 10vw;
  /*調整*/
  position: absolute;
  /*追記*/
  height: 100%;
  /*追記*/
  width: 100%;
  /*追記*/
  z-index: 120;
  object-fit: cover;
  box-sizing: border-box;
}
#header .w1000 nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  width: 50%;
}
#header .w1000 nav li {
  color: white;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: -2px -3px 3px gray;
  font-family: "Arial";
  font-size: 1.3vw;
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  display: block;
  z-index: 5000;
  line-height: 1.2;
}

/* --------------------------------
 * smart phone
 * -------------------------------- */
@media screen and (max-width: 480px) {
  #header .w1000 {
    height: 10vh;
  }
  #header .w1000 h1 {
    font-size: 3vw;
  }
  #header .w1000 nav {
    padding: 1vh 0 1vw;
    /*調整*/
  }
  #header .w1000 nav ul {
    width: 100%;
    padding: 0 1vw;
    box-sizing: border-box;
  }
  #header .w1000 nav li {
    font-size: 2vw;
    text-shadow: -1px -1px 1px gray;
    width: 100%;
    box-sizing: border-box;
  }
}
/* --------------------------------
 * ipad
 * -------------------------------- */
@media screen and (max-width: 830px) and (min-width: 480px) {
  #header .w1000 {
    height: 12vh;
    z-index: 153;
  }
  #header nav {
    padding: 2vh 5vw;
  }
  #header nav h1 {
    color: white;
    text-shadow: -2px -3px 3px gray;
    font-family: "Arial";
    font-size: 4vw;
    text-align: center;
    margin: 1vh 0;
  }
  #header nav ul {
    width: 100%;
  }
  #header nav li {
    text-shadow: -2px -3px 3px gray;
    font-family: "ヒラギノ角ゴ Std";
    font-size: 2.8vw;
    margin-bottom: 1vh;
    border-radius: 15px;
    width: 100%;
  }
}
#footer {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: gray;
  padding: 1vh 1vw;
  align-items: center;
  margin-top: 30vh;
  box-sizing: border-box;
}
#footer .footer-text {
  width: 100%;
  font-size: 15px;
  padding-right: 1vw;
  text-align: right;
}
#footer .footer-img {
  width: 100%;
}
#footer .footer-img img {
  width: 20%;
  height: 20%;
  text-align: left;
}

/* --------------------------------
 * smart phone
 * -------------------------------- */
@media screen and (max-width: 480px) {
  #footer img {
    width: 70%;
    height: 70%;
    text-align: left;
  }
}
/* --------------------------------
 * ipad
 * -------------------------------- */
@media screen and (max-width: 830px) and (min-width: 480px) {
  #footer .footer-text {
    width: 80%;
  }
  #footer img {
    width: 40%;
    height: 40%;
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
